@import "tailwindcss";

.ql-toolbar {
  border: none !important;
  background-color: #dadbeebd !important;
}

.ql-toolbar .ql-formats:not(:last-child) {
  border-right: 1px solid #4e4d4d !important;
}
.ql-conatiner {
  font-family: "Lato", sans-serif !important;
  border: none !important;
  height: unset !important;
}

.ql-editor {
  border: none;
  min-height: 200px !important;
  line-height: 22px !important;
  padding: 8px 12px !important;
  color: #1f1f1f !important;
  font-weight: 400 !important;
  font-family: sans-serif !important;
  font-size: 14px !important;
}
.ql-container {
  border-radius: 0 0rem 0.5rem 0.5rem;
  color: rgb(48, 48, 48) !important;
  border: none !important;
  background-color: #ebeef8fb;
  border-bottom: 1px solid #f3f3f3 !important;
}
.ql-editor a {
  color: #4f8fee !important;
}
.ql-toolbar a {
  color: #eee !important;
}
.ql-editor a:hover {
  text-decoration: underline !important;
}
.ql-renderer {
  padding: 0 !important;
}
.ql-editor::before {
  left: 12px !important;
  font-family: sans-serif !important;
  font-style: normal !important;
  font-size: 14px !important;
  font-weight: 400 !important;
}
